/*----------------------
-----DEFAULT SETTING----
-----------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color: #555;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/*----------------------
----------BODY----------
-----------------------*/

body {
  background-color: #bbe2dc;
  background-position: center;
  height: 100vh;
  font-family: "Nanum Gothic", sans-serif;
}

.title {
  height: 4rem;
}

.top_container {
  position: absolute;
  width: 95%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #58b19f;
  border-radius: 20px;
  background-color: #fff;
}

/*▶︎▶︎▶︎▶︎▶︎input◀︎◀︎◀︎◀︎◀︎◀︎*/

h2 {
  font-weight: 600;
  color: #58b19f;
  margin-top: 1rem;
}

h2::after {
  display: block;
  height: 2px;
  background-color: rgb(192, 186, 186);
  content: " ";
  width: 170px;
  margin: 0 auto;
  margin-top: 0.8rem;
}

label {
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: left;
  width: 100%;
  color: #2e9e88;
  margin-left: 4rem;
}

textarea {
  font-size: 1rem;
  letter-spacing: 1px;
  display: block;
  width: 100%;
  color: rgb(122, 121, 121);
}

#input-data {
  height: 85%;
}

.container_input {
  display: inline-block;
  height: 400px;
  width: 40%;
  text-align: center;
  margin-top: 0.5rem;
  position: absolute;
  left: 8%;
}

textarea {
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  width: 80%;
  margin: auto;
}

button {
  margin-top: 2rem;
}

.analyzer {
  margin-left: 1rem;
}

.analyzer-result {
  color: rgb(122, 121, 121);
  font-size: 0.8rem;
}

/*▶︎▶︎▶︎▶︎▶︎arrow◀︎◀︎◀︎◀︎◀︎◀︎*/

.container_arrow {
  display: inline-block;
  width: 5%;
  height: 300px;
  text-align: center;
  position: absolute;
  left: 48%;
  top: 30%;
}

.fa-arrow-right {
  color: #588b81;
}

label {
  display: block;
  margin-bottom: 10px;
}

/*▶︎▶︎▶︎▶︎▶︎output◀︎◀︎◀︎◀︎◀︎◀︎*/

.container_output {
  display: inline-block;
  height: 350px;
  width: 40%;
  text-align: center;
  margin-top: 0.5rem;
  position: absolute;
  left: 55%;
}

.container_tokenizer,
.container_lexer,
.container_parser {
  text-align: left;
}

.title_tokenizer,
.title_lexer,
.title_parser {
  color: #2e9e88;
  margin-left: 2.5rem;
  margin-bottom: 1rem;
}

.tokenizer_viewer {
  height: 5rem;
}

.lexer_viewer {
  height: 5rem;
}

.parser_viewer {
  height: 13rem;
}

.result {
  margin: 0 2rem 1rem 2rem;
  font-size: 0.7rem;
  font-family: "Nanum Gothic", sans-serif;
  color: rgb(122, 121, 121);
  width: 80%;
  border: 1px solid #2e9e88;
  border-radius: 5px;
  padding: 0.3rem;
}

.activate {
  background-color: #17A2B8;
  color: white;
}